/* @import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic); */
/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  padding: 0 !important;
  margin: 0 !important;
}

html,
body {
  overflow: hidden;
  /* background-color: #ff8b9a; */

  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  /* background-color: var(--clr-light); */
  color: white;
  /* font-family: "Poppins", sans-serif; */
  font-size: 1.125rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/BACKGROUND.png"); */
}

.ques-text {
  /* font-family: "Nobile", sans-serif; */
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
}

/* CSS for upload image section */

/* General Styles */

* {
  box-sizing: border-box;
}

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-light: rgb(245, 248, 255);
  --clr-light-gray: rgb(196, 195, 196);
  --clr-blue: rgb(63, 134, 255);
  --clr-light-blue: rgb(171, 202, 255);
}

/* End General Styles */

/* Upload Area */
.upload-area {
  width: 100%;
  max-width: 25rem;
  background-color: var(--clr-white);
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 2px solid var(--clr-light-blue);
  border-radius: 24px;
  padding: 2rem 1.875rem 2rem 1.875rem;
  margin: 0.625rem;
  text-align: center;
}

.upload-area--open {
  /* Slid Down Animation */
  animation: slidDown 500ms ease-in-out;
}

@keyframes slidDown {
  from {
    height: 28.125rem; /* 450px */
  }

  to {
    height: 35rem; /* 560px */
  }
}

/* Header */
.upload-area__header {
}

.upload-area__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.3125rem;
}

.upload-area__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin-top: 0;
}

/* Drop Zoon */
.upload-area__drop-zoon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--clr-light-blue);
  border-radius: 15px;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
  margin-bottom: 1.2rem;
}

.upload-area__drop-zoon:hover {
  border-color: var(--clr-blue);
}

.drop-zoon__icon {
  display: flex;
  font-size: 3.75rem;
  color: var(--clr-blue);
  transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin: 0;
  margin-top: 0.625rem;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
  opacity: 0.7;
}

/* .drop-zoon__loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: var(--clr-light-blue);
  z-index: 10;
} */

.drop-zoon:hover .drop-zoon__preview-image {
  opacity: 0.8;
}

.drop-zoon__file-input {
  display: none;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--over {
  border-color: var(--clr-blue);
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
  opacity: 0.7;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--Uploaded {
}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
  display: none;
}

/* Ends here */

.img-caraousal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.3125rem;
  border-radius: 10px;
  display: block;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
}

.sliderimg {
  width: 280px;
  height: 200px;
  /* object-fit: cover; */
  padding: 0.3125rem;
  border-radius: 10px;
}

.alice-carousel__prev-btn {
  text-align: center !important;
}

/* css for text box size */

.RichTextEditor__editor___1QqIU .public-DraftEditor-content,
.RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root {
  height: 250px;
}

/* Error Messages */

.error {
  font-size: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Londrina Solid", cursive;
  position: relative;
  color: red;
}
/*  */

.input-btn {
  text-align: center;
  /* margin: 1rem 0 0; */
  font-size: 0.875rem;
  padding: 0.3125rem;
  /* position: fixed; */
  /* bottom: 1rem;
  right: 1rem; */
  width: 90px;
  border-color: #000000;
  color: #c4ddcf;
  background-color: darkgreen;
}

.text-css {
  font-size: 70px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  font-family: "Londrina Solid", cursive;
  position: relative;
}

input {
  height: 5%;
  font-size: 30px;
}
